@media screen and (min-width: 1281px) {
  .__pc {
    display: block;
  }
  .__sp {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  .__pc {
    display: block;
  }
  .__sp {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .__pc {
    display: none;
  }
  .__sp {
    display: block;
  }
}

html, body {
  height: 100%;
  width: 100%;
  background: #271D02;
  color: #444;
  font-family: kinuta-maruminold-stdn, serif;
  line-height: 1;
  font-weight: 300;
  font-size: 10px;
  overflow-x: hidden;
}

@media screen and (max-width: 1280px) {
  html, body {
    font-size: 8px;
  }
}

@media screen and (max-width: 767px) {
  html, body {
    font-size: 7px;
  }
}

html a, body a {
  text-decoration: none;
  color: #444;
}

html a:hover, body a:hover {
  opacity: 0.5;
  transition: .5s;
}

html h2, html h3, html h4, body h2, body h3, body h4 {
  font-weight: 500;
  color: #271D02;
  letter-spacing: 0.1rem;
}

html p, html li, body p, body li {
  font-size: 1.6rem;
  line-height: 2;
}

* {
  box-sizing: border-box;
}

.__en {
  font-family: baskerville-urw, serif;
}

img {
  width: 100%;
  height: auto;
}

header {
  width: 100%;
  height: 10rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  transition: 1s;
  background: #271D02;
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 767px) {
  header {
    visibility: visible;
    opacity: 1;
  }
}

header.show {
  visibility: visible;
  opacity: 0.85;
}

header .headerWrap {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .headerWrap h1 {
  font-size: 3.6rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  color: #fff;
}

header .headerWrap h1 a {
  color: #fff;
}

header .headerWrap nav {
  font-weight: 600;
}

header .headerWrap nav ul {
  display: flex;
  gap: 4rem;
  letter-spacing: 0.1rem;
}

header .headerWrap nav ul a {
  color: #fff;
}

#mouseOver {
  height: 10rem;
  width: 100%;
  background: transparent;
  position: fixed;
  z-index: 8;
}

#comicPage header {
  width: 100%;
  height: 10%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  transition: 1s;
  background: #271D02;
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  #comicPage header {
    height: 10rem;
    visibility: visible;
    opacity: 1;
  }
}

#comicPage header .headerWrap {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#comicPage header .headerWrap h1 {
  font-size: 3.6rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  color: #fff;
}

#comicPage header .headerWrap h1 a {
  color: #fff;
}

#comicPage header .headerWrap nav {
  font-weight: 600;
}

#comicPage header .headerWrap nav ul {
  display: flex;
  gap: 4rem;
  letter-spacing: 0.1rem;
}

#comicPage header .headerWrap nav ul a {
  color: #fff;
}

#comicPage #mouseOver {
  height: 10rem;
  width: 100%;
  background: transparent;
  position: fixed;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  header .headerWrap {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  header .headerWrap nav {
    right: 0;
    bottom: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 999;
    background: #000;
    visibility: hidden;
    opacity: 0;
    transition: 1.8s;
    transform-origin: 100% 100% 0;
    transform: skewY(60deg) rotateY(90deg);
    -webkit-transform: skewY(60deg) rotateY(90deg);
  }
  header .headerWrap nav.show {
    opacity: 1;
    visibility: visible;
    transform: skewY(0deg) rotateY(0deg);
    -webkit-transform: skewY(0deg) rotateY(0deg);
    background: #271D02;
  }
  header .headerWrap nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
  }
  header .headerWrap nav ul li {
    font-size: 2.4rem;
  }
  header .headerWrap nav ul a {
    color: #fff;
  }
  header .headerWrap #toggle {
    width: 4.8rem;
    height: 4.8rem;
    position: fixed;
    top: 2.6rem;
    right: 5%;
    z-index: 9998;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: .5s;
  }
  header .headerWrap #toggle:hover {
    opacity: 0.8;
  }
  header .headerWrap #toggle span.line {
    width: 4.8rem;
    height: 0.3rem;
    background: #fff;
    z-index: 9999;
    transition: .5s;
    border-radius: 0.2rem;
    position: absolute;
  }
  header .headerWrap #toggle span.line#line1 {
    top: 0.7rem;
  }
  header .headerWrap #toggle span.line#line1.line1 {
    transform: rotate(-45deg);
    top: 2.7rem;
  }
  header .headerWrap #toggle span.line#line2 {
    top: 50%;
  }
  header .headerWrap #toggle span.line#line2.line2 {
    opacity: 0;
    visibility: hidden;
  }
  header .headerWrap #toggle span.line#line3 {
    bottom: 0.4rem;
  }
  header .headerWrap #toggle span.line#line3.line3 {
    transform: rotate(45deg);
    bottom: 1.8rem;
  }
}

main {
  padding: 10rem 0 5rem 0;
}

main h2 {
  color: #fff;
  font-size: 3.6rem;
  margin-bottom: 4rem;
  text-align: center;
}

main section {
  padding: 5rem 0;
  text-align: center;
}

main section h3 {
  font-size: 2.4rem;
  margin-bottom: 4rem;
}

main section p {
  margin-bottom: 4rem;
  font-weight: 400;
}

main section p:last-child {
  margin: 0;
}

footer {
  transition: 1s;
  background: #271D02;
}

footer #copyright {
  height: 12rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: #fff;
  opacity: 0.3;
}

#index {
  background: #271D02;
}

#index header {
  visibility: hidden;
}

#index main {
  background: #271D02;
  letter-spacing: 1rem;
}

#index main ul li {
  font-size: 2.8rem;
  margin-bottom: 2.4rem;
}

#index main ul li a {
  color: #fff;
}

#charaDesign main {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  #charaDesign main {
    padding: 10rem 0 5rem 0;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin: 0;
  }
}

#charaDesign main .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  gap: 2rem;
}

#charaDesign main .container .charaBox {
  width: 46rem;
  height: 34rem;
  background: #CACACA;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

#charaDesign main .container .charaBox .img {
  width: 18.8rem;
  height: 31rem;
  border: 1px solid #271D02;
  display: flex;
  align-items: center;
  border-radius: 3.6rem;
  background: #fff;
}

#charaDesign main .container .charaBox .img img {
  width: 100%;
}

#charaDesign main .container .charaBox .detail {
  width: 20rem;
  height: 31rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#charaDesign main .container .charaBox .detail .charaName {
  color: #271D02;
  font-size: 2.8rem;
  width: 100%;
  height: 6rem;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
}

#charaDesign main .container .charaBox .detail .charaDetail {
  width: 100%;
  height: 19.6rem;
}

#charaDesign main .container .charaBox .detail .charaDetail p {
  margin: 2rem 0;
}

#charaDesign main .container .charaBox .detail a:hover {
  opacity: 1;
}

#charaDesign main .container .charaBox .detail .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
  height: 4.8rem;
  border-radius: 1.4rem;
  font-size: 1.4rem;
  background: #969696;
  transition: 1s;
}

#charaDesign main .container .charaBox .detail .btn:hover {
  background: #271D02;
  color: #fff;
}

@media screen and (max-width: 767px) {
  #charaDesign main .container {
    flex-direction: column;
    gap: 4rem;
  }
  #charaDesign main .container .charaBox {
    width: 100%;
    padding: 0 5%;
    height: auto;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    gap: 2rem;
    border-radius: 2.7rem;
  }
  #charaDesign main .container .charaBox .img {
    width: 100%;
    height: auto;
  }
  #charaDesign main .container .charaBox .detail {
    width: 100%;
    height: auto;
    gap: 2rem;
  }
  #charaDesign main .container .charaBox .detail .charaName {
    display: block;
    height: auto;
  }
  #charaDesign main .container .charaBox .detail .charaDetail {
    height: auto;
  }
  #charaDesign main .container .charaBox .detail .charaDetail p {
    margin: 0;
  }
  #charaDesign main .container .charaBox .detail .btn {
    font-size: 1.6rem;
  }
}

#comicPage .overray {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 999;
  background: #111;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
}

#comicPage .overray.show {
  visibility: visible;
  opacity: 0.8;
}

#comicPage .overray .closeBtn {
  width: 4.8rem;
  height: 4.8rem;
  position: fixed;
  top: 2.6rem;
  right: 5%;
  z-index: 9998;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: .5s;
}

#comicPage .overray .closeBtn:hover {
  opacity: 0.8;
}

#comicPage .overray .closeBtn span {
  width: 4.8rem;
  height: 0.3rem;
  background: #fff;
  z-index: 1000;
  transition: .5s;
  border-radius: 0.2rem;
  position: absolute;
  transform: rotate(-45deg);
  top: 2.7rem;
}

#comicPage .overray .closeBtn span:last-child {
  content: '';
  transform: rotate(45deg);
  bottom: 1.8rem;
  width: 4.8rem;
  height: 0.3rem;
  background: #fff;
  position: absolute;
}

#comicPage .turnBtn {
  position: absolute;
  width: 20%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: 1s;
}

@media screen and (max-width: 767px) {
  #comicPage .turnBtn {
    position: fixed;
    top: auto;
    bottom: 0;
    width: 50%;
    height: 16%;
    background: rgba(0, 0, 0, 0.5);
  }
}

#comicPage .turnBtn.turnRight {
  left: auto;
  right: 0;
}

#comicPage .turnBtn .btn {
  width: 6.4rem;
  height: 6.4rem;
  cursor: pointer;
  transition: 1s;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

#comicPage .turnBtn .btn:hover {
  opacity: 0.5;
}

#comicPage .turnBtn .btn svg {
  fill: #fff;
  width: 6.4rem;
  height: 6.4rem;
}

#comicPage .turnBtn .btn .btnName {
  font-size: 1.2rem;
  text-align: center;
  color: #fff;
}

#comicPage main #container {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: auto;
  background: #fff;
  aspect-ratio: 2 / 1.4;
  /*
      .leftPage {
        height: 100%;
        width: auto;
        aspect-ratio: 1 / 1.4;
        background: #fff;
        //border-radius: r(24);
        @include flexCentering;
        flex-direction: row-reverse;
        position: relative;
        .mekuru {
          height: 100%;
          width: 100%;
          position: absolute;
          background: $headColor;
          z-index: 6;
          right: 0;
          bottom: 0;
          transform-origin: 100% 0 0;
          visibility: hidden;
          opacity: 0;
        }
      }
      .rightPage {
        height: 100%;
        width: auto;
        aspect-ratio: 1 / 1.4;
        background: #fff;
        //border-radius: r(24);
        @include flexCentering;
        flex-direction: row-reverse;
        position: relative;
        .mekuru {
          height: 100%;
          width: 100%;
          position: absolute;
          background: $headColor;
          z-index: 6;
          left: 0;
          bottom: 0;
          transform-origin: 0 0 0;
          visibility: hidden;
          opacity: 0;
        }
        &::after {
          content: '';
          border-left: 1px solid $headColor;
          height: 100%;
          position: absolute;
          left: 0;
        }
      }
      */
}

#comicPage main #container::after {
  content: '';
  border-left: 1px solid #271D02;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 100%;
}

@media screen and (max-width: 767px) {
  #comicPage main #container::after {
    content: none;
    /*
          width: 100%;
          height: auto;
          border: none;
          left: 0;
          background: $headColor;
          transform: translate(0);
          aspect-ratio: 1 / 1.4;
          z-index: 10;
          */
  }
}

@media screen and (max-width: 767px) {
  #comicPage main #container {
    width: 100%;
    height: auto;
    position: static;
    padding-left: 5%;
    padding-right: 5%;
    top: 0;
    transform: translate(0);
    aspect-ratio: 1 / 1.4;
  }
}

#comicPage main #container .comic {
  width: 48%;
  height: auto;
  aspect-ratio: 1 / 1.4;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: 1s;
  color: #707070;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
}

@media screen and (max-width: 767px) {
  #comicPage main #container .comic {
    width: 90%;
  }
}

#comicPage main #container .comic:nth-child(2n + 1) {
  right: 1%;
}

@media screen and (max-width: 767px) {
  #comicPage main #container .comic:nth-child(2n + 1) {
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
  }
}

#comicPage main #container .comic:nth-child(2n) {
  left: 1%;
}

@media screen and (max-width: 767px) {
  #comicPage main #container .comic:nth-child(2n) {
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#comicPage main #container .comic.show {
  visibility: visible;
  opacity: 1;
  z-index: 5;
}

#comicPage main #container .comic img {
  cursor: pointer;
  transition: 1s;
}

#comicPage main #container .comic img:hover {
  opacity: 0.5;
}

#comicPage main #container .comic h2 {
  color: #707070;
  margin: 0;
}

#comicPage main #container .comic ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#comicPage main #container .comic.author {
  border-radius: 26%;
  position: absolute;
  z-index: 6;
}

#comicPage main #container .comic.author h2, #comicPage main #container .comic.author ul {
  position: relative;
  z-index: 8;
}

#comicPage main #container .comic.author::after {
  content: '';
  width: calc(100% + 2rem);
  height: calc(100% + 2rem);
  border-radius: 20%;
  position: absolute;
  background: transparent;
  z-index: 7;
  mix-blend-mode: multiply;
  display: block;
}

#comicPage main #container .comic.firstPage, #comicPage main #container .comic.lastPage {
  z-index: 6;
}

#comicPage main #container .comic.lastPage .overray {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: #271D02;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
}

#comicPage main #container .comic.lastPage .endComic {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: .5s;
  font-size: 1.6rem;
}

#comicPage main #container .comic.lastPage:hover .overray {
  visibility: visible;
  opacity: 1;
}

#comicPage main #container .comic.lastPage:hover .endComic {
  visibility: visible;
  opacity: 1;
}

#comicPage main #container .comic.lastPage a:hover {
  opacity: 1;
}

#comicPage footer {
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 0;
}

@media screen and (max-width: 767px) {
  #comicPage footer {
    width: auto;
    position: static;
    bottom: auto;
    visibility: visible;
    opacity: 1;
    z-index: 0;
  }
}

#comicPage.hansel main #container .comic.author {
  border: 1rem #8bad89 solid;
}

#comicPage.hansel main #container .comic.author::after {
  border: 1rem #8bad89 solid;
}

#comicPage.alice main #container .comic.author {
  border: 1rem #708fa9 solid;
}

#comicPage.alice main #container .comic.author::after {
  border: 1rem #708fa9 solid;
}

#comicPage.restaurant main #container .comic.author {
  border: 1rem #ada57b solid;
}

#comicPage.restaurant main #container .comic.author::after {
  border: 1rem #ada57b solid;
}

#member {
  overflow-x: hidden;
}

#member main {
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  #member main {
    padding: 10rem 5% 5rem 5%;
    width: 100%;
    margin: 0;
  }
}

#member main .container {
  margin-bottom: 3.542vw;
  position: relative;
  height: 28.75vw;
}

@media screen and (max-width: 1280px) {
  #member main .container {
    margin-bottom: 4.25vw;
    height: 34.5vw;
  }
}

@media screen and (max-width: 767px) {
  #member main .container {
    margin-bottom: 6.8rem;
    height: 55.2rem;
  }
}

#member main .container .arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 37.708vw;
  z-index: 8;
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  #member main .container .arrow {
    width: 42.25vw;
  }
}

@media screen and (max-width: 767px) {
  #member main .container .arrow {
    width: 67.6rem;
    max-width: 100%;
  }
}

#member main .container .arrow .left, #member main .container .arrow .right {
  position: absolute;
  transition: 1s;
  top: 50%;
  transform: translateY(-50%);
}

#member main .container .arrow .left:hover, #member main .container .arrow .right:hover {
  opacity: 0.5;
}

#member main .container .arrow .left svg, #member main .container .arrow .right svg {
  width: 3.958vw;
  height: 3.958vw;
  fill: #fff;
}

@media screen and (max-width: 1280px) {
  #member main .container .arrow .left svg, #member main .container .arrow .right svg {
    width: 4.75vw;
    height: 4.75vw;
  }
}

@media screen and (max-width: 767px) {
  #member main .container .arrow .left svg, #member main .container .arrow .right svg {
    width: 7.6rem;
    height: 7.6rem;
  }
}

#member main .container .arrow .left {
  left: 0;
}

#member main .container .arrow .right {
  right: 0;
}

#member main .container .memberList {
  height: 28.75vw;
  transition: 1s;
  position: relative;
  width: 64.271vw;
  margin: 0 auto;
  transition: .8s ease-out;
}

@media screen and (max-width: 1280px) {
  #member main .container .memberList {
    height: 34.5vw;
    width: 96.406vw;
  }
}

@media screen and (max-width: 767px) {
  #member main .container .memberList {
    width: 100%;
    height: 55.2rem;
  }
}

#member main .container .memberList .memberBox {
  background: #CACACA;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  transition: all .8s ease-out;
  position: absolute;
  top: 50%;
  left: 50%;
  right: 25%;
  transform: translate(-50%, -50%);
  transform-origin: 50% 50% 0;
  width: 23.125vw;
  max-width: 100%;
  height: 28.75vw;
  gap: 1.458vw;
  border-radius: 0.729vw;
  z-index: 1;
}

@media screen and (max-width: 1280px) {
  #member main .container .memberList .memberBox {
    width: 27.75vw;
    height: 34.5vw;
    gap: 1.75vw;
    border-radius: 0.875vw;
  }
}

@media screen and (max-width: 767px) {
  #member main .container .memberList .memberBox {
    transform: translate(-50%, -50%) scale(0.8);
    width: 44.4rem;
    max-width: 100%;
    height: 55.2rem;
    gap: 2.8rem;
    border-radius: 1.4rem;
  }
}

#member main .container .memberList .memberBox .img {
  border: 1px solid #707070;
  border-radius: 1.563vw;
  background: #fff;
  margin: 0 auto;
  transition: all .8s ease-out;
  width: 21.25vw;
  height: 16.354vw;
}

#member main .container .memberList .memberBox .img img {
  width: 100%;
  border-radius: 1.563vw;
}

@media screen and (max-width: 1280px) {
  #member main .container .memberList .memberBox .img {
    width: 25.5vw;
    height: 19.625vw;
    border-radius: 1.875vw;
  }
  #member main .container .memberList .memberBox .img img {
    border-radius: 1.875vw;
  }
}

@media screen and (max-width: 767px) {
  #member main .container .memberList .memberBox .img {
    border-radius: 3rem;
    width: 40.8rem;
    height: 31.4rem;
  }
  #member main .container .memberList .memberBox .img img {
    border-radius: 3rem;
  }
}

#member main .container .memberList .memberBox .detail {
  border: 1px solid #271D02;
  background: #fff;
  margin: 0 auto;
  border-radius: 1.8rem;
  transition: all .8s ease-out;
  width: 21.25vw;
  height: 8.75vw;
}

@media screen and (max-width: 1280px) {
  #member main .container .memberList .memberBox .detail {
    border-radius: 1.125vw;
    width: 25.5vw;
    height: 10.5vw;
  }
}

@media screen and (max-width: 767px) {
  #member main .container .memberList .memberBox .detail {
    border-radius: 1.8rem;
    width: 40.8rem;
    height: 16.8rem;
  }
}

#member main .container .memberList .memberBox .detail .memberDetail {
  transition: all .8s ease-out;
  margin: 0.834vw 1.146vw;
}

@media screen and (max-width: 1280px) {
  #member main .container .memberList .memberBox .detail .memberDetail {
    margin: 1vw 1.375vw;
  }
}

@media screen and (max-width: 767px) {
  #member main .container .memberList .memberBox .detail .memberDetail {
    margin: 1.6rem 2.2rem;
  }
}

#member main .container .memberList .memberBox .detail .memberDetail h3 {
  color: #271D02;
  transition: all .8s ease-out;
  line-height: 1;
  font-size: 1.458vw;
  margin-bottom: 0.417vw;
}

@media screen and (max-width: 1280px) {
  #member main .container .memberList .memberBox .detail .memberDetail h3 {
    font-size: 1.75vw;
    margin-bottom: 0.5vw;
  }
}

@media screen and (max-width: 767px) {
  #member main .container .memberList .memberBox .detail .memberDetail h3 {
    font-size: 2.8rem;
    margin-bottom: 0.8rem;
  }
}

#member main .container .memberList .memberBox .detail .memberDetail p {
  color: #444;
  transition: all .8s ease-out;
  font-size: 0.834vw;
  line-height: 2;
}

@media screen and (max-width: 1280px) {
  #member main .container .memberList .memberBox .detail .memberDetail p {
    font-size: 1vw;
  }
}

@media screen and (max-width: 767px) {
  #member main .container .memberList .memberBox .detail .memberDetail p {
    font-size: 1.6rem;
    line-height: 2;
  }
}

#member main .container .memberList .num0 {
  filter: brightness(25%) saturate(90%);
  transform: translate(72%, -50%) scale(0.35);
}

#member main .container .memberList .num1 {
  filter: brightness(25%) saturate(90%);
  z-index: 2;
  transform: translate(28%, -50%) scale(0.5);
}

#member main .container .memberList .num2 {
  z-index: 5;
}

#member main .container .memberList .num3 {
  filter: brightness(25%) saturate(90%);
  z-index: 2;
  transform: translate(-128%, -50%) scale(0.5);
}

#member main .container .memberList .num4 {
  filter: brightness(25%) saturate(90%);
  transform: translate(-172%, -50%) scale(0.35);
}

@media screen and (max-width: 767px) {
  #member main .container .memberList .num0 {
    filter: brightness(25%) saturate(90%);
    transform: translate(172%, -50%) scale(0.35);
  }
  #member main .container .memberList .num1 {
    filter: brightness(25%) saturate(90%);
    z-index: 2;
    transform: translate(128%, -50%) scale(0.5);
  }
  #member main .container .memberList .num2 {
    z-index: 5;
  }
  #member main .container .memberList .num3 {
    filter: brightness(25%) saturate(90%);
    z-index: 2;
    transform: translate(-228%, -50%) scale(0.5);
  }
  #member main .container .memberList .num4 {
    filter: brightness(25%) saturate(90%);
    transform: translate(-272%, -50%) scale(0.35);
  }
}

#member main .dot {
  display: flex;
  justify-content: center;
  gap: 2.8rem;
}

#member main .dot span {
  width: 1.4rem;
  height: 1.4rem;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.27;
  transition: 1s;
  transform: scale(0.8);
}

#member main .dot span:hover {
  opacity: 1;
}

#member main .dot span.checked {
  opacity: 1;
  transform: scale(1);
}

#member footer {
  position: absolute;
  right: 0;
  bottom: 1.5rem;
  width: 100%;
}

@media screen and (max-width: 767px) {
  #member footer {
    position: static;
    width: auto;
  }
}

#member footer #copyright {
  position: absolute;
  right: 5%;
  bottom: 0;
  display: block;
  height: auto;
}

@media screen and (max-width: 767px) {
  #member footer #copyright {
    position: static;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

#load {
  width: 100%;
  height: 100%;
  position: fixed;
  transition: .5s;
  font-size: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #271D02;
  z-index: 9999;
  letter-spacing: 1rem;
  transition: 2.8s;
  transform-origin: 100% 100% 0;
  right: 0;
  bottom: 0;
  color: #fff;
}

#load.loaded {
  transform: skewY(60deg) rotateY(90deg);
  -webkit-transform: skewY(60deg) rotateY(90deg);
  opacity: 0;
  background: #000;
}

#load .loadImg {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10rem;
  text-align: center;
}

#load .loadImg .wrap {
  display: flex;
  gap: 2rem;
  flex-direction: row-reverse;
  align-items: center;
}

#load .loadImg .wrap svg {
  width: 8rem;
  height: auto;
  opacity: 0;
}

#load .loadImg p {
  font-size: 2.8rem;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */