@media screen and (min-width: 1441px) {
  .__pc {
    display: block;
  }
  .__sp {
    display: none;
  }
}

@media screen and (max-width: 1440px) {
  .__pc {
    display: block;
  }
  .__sp {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .__pc {
    display: none;
  }
  .__sp {
    display: block;
  }
}

html, body {
  height: 100%;
  width: 100%;
  background: #281200;
  color: #444;
  font-family: fot-tsukuaoldmin-pr6n, sans-serif;
  line-height: 1;
  font-weight: 300;
  font-size: 10px;
}

@media screen and (max-width: 1440px) {
  html, body {
    font-size: 8px;
  }
}

@media screen and (max-width: 767px) {
  html, body {
    font-size: 7px;
  }
}

html a, body a {
  text-decoration: none;
  color: #444;
}

html a:hover, body a:hover {
  opacity: 0.5;
  transition: .5s;
}

html h2, html h3, html h4, body h2, body h3, body h4 {
  font-weight: 500;
  color: #281200;
  letter-spacing: 0.1rem;
}

html p, html li, body p, body li {
  font-size: 1.6rem;
  line-height: 2;
}

* {
  box-sizing: border-box;
}

.__en {
  font-family: baskerville-urw, serif;
}

img {
  width: 100%;
  height: auto;
}

header {
  width: 100%;
  height: 10rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: 1s;
  background: #281200;
  visibility: hidden;
  opacity: 0;
}

@media screen and (max-width: 767px) {
  header {
    visibility: visible;
    opacity: 1;
  }
}

header.show {
  visibility: visible;
  opacity: 1;
}

header .headerWrap {
  height: 100%;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .headerWrap h1 {
  font-size: 3.6rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  color: #fff;
}

header .headerWrap h1 a {
  color: #fff;
}

header .headerWrap nav {
  font-weight: 600;
}

header .headerWrap nav ul {
  display: flex;
  gap: 4rem;
  letter-spacing: 0.1rem;
}

header .headerWrap nav ul a {
  color: #fff;
}

#mouseOver {
  height: 10rem;
  width: 100%;
  background: transparent;
  position: fixed;
  z-index: 8;
}

@media screen and (max-width: 767px) {
  header .headerWrap {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  header .headerWrap nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 999;
    background: #fff;
    visibility: hidden;
    opacity: 0;
    transition: .5s;
  }
  header .headerWrap nav.show {
    opacity: 1;
    visibility: visible;
  }
  header .headerWrap nav ul {
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
  }
  header .headerWrap nav ul li {
    font-size: 2.4rem;
  }
  header .headerWrap nav ul a {
    color: #444;
  }
  header .headerWrap #toggle {
    width: 4.8rem;
    height: 4.8rem;
    position: fixed;
    top: 2.6rem;
    right: 5%;
    z-index: 9998;
    display: flex;
    justify-content: center;
    cursor: pointer;
    transition: .5s;
  }
  header .headerWrap #toggle:hover {
    opacity: 0.8;
  }
  header .headerWrap #toggle span.line {
    width: 4.8rem;
    height: 0.3rem;
    background: #fff;
    z-index: 9999;
    transition: .5s;
    border-radius: 0.2rem;
    position: absolute;
  }
  header .headerWrap #toggle span.line#line1 {
    top: 0.7rem;
  }
  header .headerWrap #toggle span.line#line1.line1 {
    transform: rotate(-405deg);
    top: 2.7rem;
    background: #281200;
  }
  header .headerWrap #toggle span.line#line2 {
    top: 50%;
  }
  header .headerWrap #toggle span.line#line2.line2 {
    opacity: 0;
    visibility: hidden;
  }
  header .headerWrap #toggle span.line#line3 {
    bottom: 0.4rem;
  }
  header .headerWrap #toggle span.line#line3.line3 {
    transform: rotate(405deg);
    bottom: 1.8rem;
    background: #281200;
  }
}

main {
  padding: 10rem 0 5rem 0;
}

main section {
  padding: 5rem 0;
  text-align: center;
}

main section h2 {
  font-size: 3.6rem;
  margin-bottom: 4rem;
}

main section h3 {
  font-size: 2.4rem;
  margin-bottom: 4rem;
}

main section p {
  margin-bottom: 4rem;
  font-weight: 400;
}

main section p:last-child {
  margin: 0;
}

main.story {
  width: 80%;
  margin: 0 auto;
}

main.story section {
  text-align: left;
}

@media screen and (max-width: 1440px) {
  main.story {
    width: 90%;
  }
}

@media screen and (max-width: 767px) {
  main.story {
    width: 100%;
    margin: 0;
    padding-left: 5%;
    padding-right: 5%;
  }
}

footer {
  transition: 1s;
  background: #281200;
}

footer #copyright {
  height: 12rem;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  letter-spacing: 0.1rem;
  color: #fff;
}

footer #copyright span:first-child {
  margin-right: .5em;
}

footer #copyright span:last-child {
  margin-left: .5em;
}

#index {
  background: #281200;
}

#index header {
  visibility: hidden;
}

#index main {
  background: #281200;
  letter-spacing: 1rem;
}

#index main h2 {
  font-size: 4.8rem;
  margin-bottom: 4rem;
  color: #fff;
}

#index main ul li {
  font-size: 3.6rem;
  margin-bottom: 2.4rem;
}

#index main ul li a {
  color: #fff;
}

#index footer {
  background: #281200;
  color: #fff;
}

#charaDesign main {
  width: 90%;
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  #charaDesign main {
    padding: 10rem 0 5rem 0;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
}

#charaDesign main h2 {
  color: #fff;
  text-align: center;
  font-size: 4.8rem;
  margin-bottom: 4rem;
}

#charaDesign main .container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

#charaDesign main .container .charaBox {
  width: 28vw;
  height: 16vw;
  background: #fff;
}

@media screen and (max-width: 767px) {
  #charaDesign main .container {
    flex-direction: column;
    gap: 4rem;
  }
  #charaDesign main .container .charaBox {
    width: 100%;
    height: 32rem;
  }
}

#comicPage .turnBtn {
  position: absolute;
  width: 5%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 1s;
}

#comicPage .turnBtn.turnRight {
  left: auto;
  right: 0;
}

#comicPage .turnBtn a {
  visibility: hidden;
  opacity: 0;
}

#comicPage .turnBtn svg {
  fill: #fff;
  width: 6.4rem;
  height: 6.4rem;
}

#comicPage main #container {
  width: calc(100% - 4.8rem);
  height: calc(100% - 4.8rem);
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px) {
  #comicPage main #container {
    width: 100%;
    height: auto;
    flex-direction: column;
    gap: 4rem;
    position: static;
    padding-left: 5%;
    padding-right: 5%;
    top: 0;
    transform: translateY(0);
  }
}

#comicPage main #container .left, #comicPage main #container .right {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 2.4rem;
}

@media screen and (max-width: 767px) {
  #comicPage main #container .left, #comicPage main #container .right {
    height: 76.8rem;
  }
}

#comicPage main #container .left {
  border-right: 1px solid #281200;
}

#comicPage footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
}

#comicPage footer.show {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 767px) {
  #comicPage footer {
    width: auto;
    position: static;
    bottom: auto;
    visibility: visible;
    opacity: 1;
    z-index: 0;
  }
}

#load {
  width: 100%;
  height: 100%;
  position: fixed;
  transition: .5s;
  font-size: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  z-index: 9999;
  letter-spacing: 1rem;
  transition: 2.8s;
}

#load.loaded {
  transform: translate(-100%, -100%) skewY(-60deg) rotateY(-90deg);
  -webkit-transform: translate(-100%, -100%) skewY(-60deg) rotateY(-90deg);
  transform-origin: 0 0;
  opacity: 0;
}

#load span {
  opacity: 0;
}
/*# sourceMappingURL=style.css.map */